<div class="cover"> 

    

  <body>
  <div class="wrapper">
      <header>
      
          <!-- <img src="./img/logo-original-copy.png"
          srcset="./img/logo-original-copy@2x.png 2x,
          ./img/logo-original-copy@3x.png 3x"
          class="Logo-Original-Copy"> -->

          <img src="../assets/img/logo-original-copy.png" alt="">
      
      </header>
      <div class="Line-3-Copy-4"></div>
      <form action="#">
      <div class="field email">
          <div class="input-area">
          <input type="text" id="icon-placeholder-user" placeholder="user@adroitoverseas.net" > 
          
          <i class="error error-icon fas fa-exclamation-circle"></i>
          </div>
          <div class="error error-txt">Email can't be blank</div>
      </div>
      <div class="field password">
          <div class="input-area">
          <input type="password" id="icon-placeholder-password" placeholder="Password*">
          

          <i class="error error-icon fas fa-exclamation-circle"></i>
          </div>
          <div class="error error-txt">Password can't be blank</div>
      </div>
      
      <input type="submit" class="Rectangle-Copy-3" value="Log in">
      </form>
      <div class="sign-txt">Forgot password? </div>
  </div>
  </body>
</div>